# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
1. List popular languages for Data Sciencie
2. List popular libraries for Data Sciencie
3. Table of Data Science Tools
4. Examples of arithmetix expressions

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Apache Sparks|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author
Raul Francisco Becerra Bernal